<a href="https://colab.research.google.com/github/shrey-26-07/Disaster-Tweets/blob/main/disaster_tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
tweets = pd.read_csv("/content/drive/MyDrive/Datasets/Disaster_tweets/train.csv")
tweets.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [ ]:
test_tweets = pd.read_csv("/content/drive/MyDrive/Datasets/Disaster_tweets/test.csv")
test_tweets.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [ ]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [ ]:
test_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

In [ ]:
tweets['keyword'][33]

'ablaze'

In [ ]:
tweets[tweets['keyword'] == 'accident'].target.value_counts()

1    24
0    11
Name: target, dtype: int64

In [ ]:
tweets.text[234]

'@TomcatArts thus explaining why you were all annihilated. But the few or in this case you the only survivor evolved and became godlike'

In [ ]:
tweets.location.value_counts()

USA                    104
New York                71
United States           50
London                  45
Canada                  29
                      ...
MontrÌ©al, QuÌ©bec       1
Montreal                 1
ÌÏT: 6.4682,3.18287      1
Live4Heed??              1
Lincoln                  1
Name: location, Length: 3341, dtype: int64

In [ ]:
from nltk.corpus import wordnet
import nltk
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

    return tag_dict.get(tag, wordnet.NOUN)


# 1. Init Lemmatizer
lemmatizer = WordNetLemmatizer()

# 2. Lemmatize Single Word with the appropriate POS tag
word = 'feet'
print(lemmatizer.lemmatize(word, get_wordnet_pos(word)))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
foot

In [ ]:
import numpy as np
import nltk
import re 
nltk.download('stopwords')

from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk.tokenize import RegexpTokenizer
import matplotlib.pyplot as plt
import seaborn as sns

stopwords = stopwords.words('english')
stemmer = SnowballStemmer('english')
tokenizer = RegexpTokenizer(r'\w+')   # word tokenizer
tags = r'@\w*|#|,'  # to deal with mentions and tags

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
def preprocessing(sentence, stem = False):
  sentence = re.sub(tags, "", sentence)
  sentence = re.sub(r'(https?://[^\s]+)', "",sentence)
  text = tokenizer.tokenize(sentence)  # tokenize the sentence
  text = [word.lower() for word in text if (word not in stopwords) and (word.isalpha())]  # remove stopwords
  #text = [lemmatizer.lemmatize(word, get_wordnet_pos(word)) for word in text]

  if stem == True:
    text = [stemmer.stem(word) for word in text]  # stemming if required
  
  return text

In [ ]:
print(tweets.text[33])

#AFRICANBAZE: Breaking news:Nigeria flag set ablaze in Aba. http://t.co/2nndBGwyEi

In [ ]:
print(preprocessing(tweets.text[33]))

['africanbaze', 'breaking', 'news', 'nigeria', 'flag', 'set', 'ablaze', 'aba']

In [ ]:
tweets.text = tweets.text.map(preprocessing)
test_tweets.text = test_tweets.text.map(preprocessing)

tweets.head()

,id,keyword,location,text,target
0,1,NaN,NaN,"[our, deeds, reason, earthquake, may, allah, f...",1
1,4,NaN,NaN,"[forest, fire, near, la, ronge, sask, canada]",1
2,5,NaN,NaN,"[all, residents, asked, shelter, place, notifi...",1
3,6,NaN,NaN,"[people, receive, wildfires, evacuation, order...",1
4,7,NaN,NaN,"[just, got, sent, photo, ruby, alaska, smoke, ...",1

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(ngram_range = (1,1)) # max_features = 50000
tfidf.fit(pd.concat([tweets.loc[:,'text'].astype('str'),test_tweets.loc[:,'text'].astype('str')], axis = 0))
tfidf_rep = tfidf.transform(tweets.loc[:,'text'].astype('str'))
tfidf_test = tfidf.transform(test_tweets.loc[:,'text'].astype('str'))

In [ ]:
#pd.concat([tweets.loc[:,'text'].astype('str'),test_tweets.loc[:,'text'].astype('str')], axis = 0)
tfidf_test.shape

(3263, 17073)

In [ ]:
tfidf_rep.shape

(7613, 17073)

In [ ]:
type(tfidf_rep)

scipy.sparse.csr.csr_matrix

In [ ]:
from sklearn.model_selection import train_test_split

X = tfidf_rep.toarray()
y = np.array(tweets.target)

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, random_state = 17)

In [ ]:
X_train.shape

(6090, 17073)

In [ ]:
from sklearn.naive_bayes import MultinomialNB

clf3 = MultinomialNB(alpha = 0.45)
clf3.fit(X_train, y_train)
#clf3.fit(X, y)

print(clf3.score(X_test, y_test))
print(clf3.score(X_train, y_train))

0.8003939592908733
0.91559934318555

In [ ]:
#predictions = clf3.predict(tfidf_test)
#predictions.shape

In [ ]:
#sum(predictions == 0)

In [ ]:
submission = pd.DataFrame({'id': test_tweets.id, 'target': predictions})
submission = submission.set_index('id')
submission.to_csv('submission.csv')

In [ ]:
from gensim.models import Word2Vec, KeyedVectors
from gensim.scripts.glove2word2vec import glove2word2vec

#Glove_path = "/content/drive/MyDrive/Datasets/glove.6B.300d.txt"
#word2vec_output_file = 'glove.6B.100d.txt.word2vec'
#glove2word2vec(Glove_path, word2vec_output_file)

In [ ]:
from gensim.models import Word2Vec, KeyedVectors
pretrained_path = "/content/drive/MyDrive/Datasets/GoogleNews-vectors-negative300.bin"

Word2VecModel = KeyedVectors.load_word2vec_format(pretrained_path, binary = True)

In [ ]:
#Glove_model = KeyedVectors.load_word2vec_format(word2vec_output_file, binary = False)

In [ ]:
max_length = max(tweets.text.apply(lambda x: len(x)).max(),test_tweets.text.apply(lambda x: len(x)).max())
n_features = 300

In [ ]:
def vectorize_tokens(data, model = Word2VecModel, max_length = max_length, n_features = n_features):
  vectors = []

  for i, row in data.iterrows():
    text_vec = np.zeros((max_length, n_features))

    for i, word in enumerate(row.text):
      if word in model.vocab:
        text_vec[i,:] = model[word]

    vectors.append(text_vec)

  return vectors

In [ ]:
tweets['vec'] = vectorize_tokens(tweets, model = Word2VecModel)
test_tweets['vec'] = vectorize_tokens(test_tweets, model = Word2VecModel)

In [ ]:
tweets['vec'][0].shape

(28, 300)

In [ ]:
X = np.asarray(tweets['vec'].tolist()).astype(np.float32)
X_test_final = np.asarray(test_tweets['vec'].tolist()).astype(np.float32)

In [ ]:
y = np.asarray(tweets['target'].tolist()).astype(np.float32)

In [ ]:
import tensorflow as tf
from tensorflow.keras.layers import Masking, Dense, LSTM, Dropout, Bidirectional, GlobalMaxPool1D, BatchNormalization, Conv1D
from tensorflow.keras.losses import BinaryCrossentropy
from tensorflow.keras import Sequential, Input
from tensorflow.keras.optimizers import Adam

In [ ]:
X.shape

(7613, 28, 300)

In [ ]:
model = Sequential()
model.add(Input(shape = (max_length,n_features)))
model.add(Masking(mask_value = 0.0))
model.add(Bidirectional(LSTM(50)))
#model.add(Conv1D(16, 2, activation='relu'))
#model.add(GlobalMaxPool1D())
#model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(25, activation = 'relu'))
model.add(Dropout(0.5))
#model.add(Dense(10, activation = 'relu'))
#model.add(Dropout(0.5))
model.add(Dense(1, activation = 'sigmoid'))

In [ ]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score, roc_auc_score

skf = StratifiedKFold(n_splits=5)
train_average_score = 0
validation_average_score = 0
validation_oof_predictions = np.zeros((len(X)))

# It's a good practice to predict the test set on every fold
# And average the predictions over the folds
averaged_test_predictions = np.zeros((X_test_final.shape[0]))

# It's standard practice to use Stratified k-fold cross validation
# so we're also using it here
for fold_n, (train_idx, test_idx) in enumerate(skf.split(X, y)):
    X_train, y_train = X[train_idx], y[train_idx]
    X_test, y_test = X[test_idx], y[test_idx]
    
    # Re-compile the model at every fold to "reset" it
    model.compile(optimizer='adam', loss='binary_crossentropy', metrics = ['accuracy'])
    
    # Simple training strategy, hyper-parameters haven't been tuned
    model.fit(x=X_train, y=y_train, batch_size=32, epochs=5)
    
    train_predictions = model.predict(X_train)
    validation_predictions = model.predict(X_test)
    
    train_score = roc_auc_score(y_train, train_predictions)
    validation_score = roc_auc_score(y_test, validation_predictions)
    
    train_average_score += train_score / 5
    validation_average_score += validation_score / 5
    validation_oof_predictions[test_idx,] = (validation_predictions > 0.5).astype(int).flatten()
    
    print(f'Fold: {fold_n}, train auc: {train_score:.3f}, validation auc: {validation_score:.3f}')
    
    test_predictions = model.predict(X_test_final).flatten()
    averaged_test_predictions += test_predictions / 5

print(f'Train average: {train_average_score:.3f}, validation average: {validation_average_score:.3f}')
print(f'OOF Accuracy Score: {accuracy_score(y, validation_oof_predictions)}')

Epoch 1/5
191/191 [==============================] - 51s 192ms/step - loss: 0.5348 - accuracy: 0.7463
Epoch 2/5
191/191 [==============================] - 37s 194ms/step - loss: 0.4427 - accuracy: 0.8143
Epoch 3/5
191/191 [==============================] - 37s 192ms/step - loss: 0.4181 - accuracy: 0.8248
Epoch 4/5
191/191 [==============================] - 37s 191ms/step - loss: 0.3959 - accuracy: 0.8368
Epoch 5/5
191/191 [==============================] - 37s 193ms/step - loss: 0.3804 - accuracy: 0.8452
Fold: 0, train auc: 0.927, validation auc: 0.827
Epoch 1/5
191/191 [==============================] - 46s 192ms/step - loss: 0.3897 - accuracy: 0.8402
Epoch 2/5
191/191 [==============================] - 48s 251ms/step - loss: 0.3563 - accuracy: 0.8516
Epoch 3/5
191/191 [==============================] - 36s 188ms/step - loss: 0.3423 - accuracy: 0.8612
Epoch 4/5
191/191 [==============================] - 36s 187ms/step - loss: 0.3192 - accuracy: 0.8677
Epoch 5/5
191/191 [==============================] - 36s 190ms/step - loss: 0.2920 - accuracy: 0.8841
Fold: 1, train auc: 0.966, validation auc: 0.860
Epoch 1/5
191/191 [==============================] - 45s 188ms/step - loss: 0.3219 - accuracy: 0.8683
Epoch 2/5
191/191 [==============================] - 36s 187ms/step - loss: 0.2863 - accuracy: 0.8842
Epoch 3/5
191/191 [==============================] - 36s 187ms/step - loss: 0.2705 - accuracy: 0.8913
Epoch 4/5
191/191 [==============================] - 36s 186ms/step - loss: 0.2362 - accuracy: 0.9036
Epoch 5/5
191/191 [==============================] - 36s 187ms/step - loss: 0.2216 - accuracy: 0.9131
Fold: 2, train auc: 0.984, validation auc: 0.927
Epoch 1/5
191/191 [==============================] - 45s 189ms/step - loss: 0.2480 - accuracy: 0.9022
Epoch 2/5
191/191 [==============================] - 36s 188ms/step - loss: 0.2189 - accuracy: 0.9104
Epoch 3/5
191/191 [==============================] - 36s 188ms/step - loss: 0.1867 - accuracy: 0.9243
Epoch 4/5
191/191 [==============================] - 36s 188ms/step - loss: 0.1791 - accuracy: 0.9273
Epoch 5/5
191/191 [==============================] - 36s 187ms/step - loss: 0.1664 - accuracy: 0.9312
Fold: 3, train auc: 0.992, validation auc: 0.967
Epoch 1/5
191/191 [==============================] - 45s 190ms/step - loss: 0.1961 - accuracy: 0.9296
Epoch 2/5
191/191 [==============================] - 36s 190ms/step - loss: 0.1645 - accuracy: 0.9365
Epoch 3/5
191/191 [==============================] - 36s 190ms/step - loss: 0.1457 - accuracy: 0.9411
Epoch 4/5
191/191 [==============================] - 36s 188ms/step - loss: 0.1457 - accuracy: 0.9429
Epoch 5/5
191/191 [==============================] - 36s 190ms/step - loss: 0.1288 - accuracy: 0.9524
Fold: 4, train auc: 0.996, validation auc: 0.989
Train average: 0.973, validation average: 0.914
OOF Accuracy Score: 0.8539340601602522

In [ ]:
y_final = (model.predict(X_test_final) > 0.5).astype('int').flatten()

In [ ]:
y_final

array([1, 1, 1, ..., 1, 1, 1])

In [ ]:
submission = pd.DataFrame({'id': test_tweets.id, 'target': y_final})
submission = submission.set_index('id')
submission.to_csv('submission.csv')

In [ ]:
from google.colab import files

files.download('submission.csv')